body {
      margin: 0;
}
/*
#biuro {
      height: 100%;
      width: 100%;                  styles.css already includes allat
      position: fixed;
}
*/
/* -- USUŃ PO ZŁĄCZENIU WSZYSTKICH PLIKÓW JUŻ RAZEM -- *\
@font-face {
     font-family: 'PixelSans';
     src: url('../Materials/font/PixelSans1.ttf');
}
@font-face {
     font-family: 'Handwritten';
     src: url('../Materials/font/ArchitectsDaughter.ttf');
}
\* ------------------------------------------------ */

#topbar {
      height: 10%;
      width: 100%;
      position: fixed;
      top: 0;
      background-color: black;
      color: snow;
      font-family: 'PixelSans';
      z-index: 3;
}
#topbar h1 {
      font-size: 35px;
      text-align: center;
}

#office {
      height: 90%;
      width: 100%;
      background-image: url('../Materials/backdrop.png');
      background-repeat: repeat;
      background-size: 8%;
      position: absolute;
      bottom: 0;
}

#desk {
      background-image: url('../Materials/desk.png');
      background-repeat: no-repeat;
      background-size: 100% 140%;
      height: 22%;
      width: 80%;
      position: absolute;
      right: 0; left: 0; margin-inline: auto;
      bottom: 0;
      z-index: 2;
}

#petent {
      height: 70%;
      left: -105%;
      right: 0;
      margin-inline: auto;
      position: absolute;
      bottom: 70px;
      transform: rotate(0deg);
      z-index: 1;
      user-select: none;
      opacity: 0.75;
      transition: transform 111ms ease-out, left 2s ease-in, opacity 0.5s ease;
}

.boki {
      background-color: brown;
      height: 100%;
      width: 10%;
      z-index: 2;
      position: absolute;
}
#lewy {
      left: 0;
      background-image: url('../Materials/sides.png');
      background-repeat: no-repeat;
      background-size: cover;
}
#prawy {
      right: 0;
      background-image: url('../Materials/sides.png');
      background-repeat: no-repeat;
      background-size: cover;
}

/*     TOOL-TIP     */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7); /* use this rgba() for dialog boxes too */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-family: monospace;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*     TOOL-TIP     */

.items {
      width: 100%;
      cursor: help;
      user-select: none;
}

#playerguide {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      width: 70%;
      height: 80%;
      background-color: rgb(0, 70, 0);
      bottom: -100%;
      transition: bottom 500ms ease-out;
      visibility: visible;/*hidden;*/
      z-index: 3;
      border-radius: 7px;
}

.gpages {
      width: 50%;
      background-color: antiquewhite;
      position: absolute;
      height: 96%;
      width: 48%;
      top: 2%; bottom: 2%;
      border-radius: 3px;
      font-family: Georgia, 'Times New Roman';
}
.gbut {
      background-color: antiquewhite;
      width: 60px; height: 30px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
}
.gbut:hover {
      background-color: rgb(190, 179, 165);
      cursor: pointer;
}
#gpage1 .gbut {float: left;}
#gpage2 .gbut {float: right;}

#bulletin {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      width: 30%;
      height: 80%;
      background-color: rgb(184, 187, 140);
      bottom: -100%;
      transition: bottom 500ms ease-out;
      visibility: visible;/*hidden;*/
      z-index: 3;
      border-radius: 7px;
      font-family: Georgia, 'Times New Roman';
      text-align: center;
}
#bulletin button {
      background-color: rgb(184, 187, 140);
      width: 60px; height: 30px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: left;
}
#bulletin button:hover {
      background-color: rgb(146, 148, 114);
      cursor: pointer;
}

#transcript {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      width: 30%;
      height: 80%;
      background-image: url('../Materials/transcript.png');
      background-repeat: repeat-y;
      background-size: 100% 4%;
      bottom: -100%;
      transition: bottom 500ms ease-out;
      visibility: visible;/*hidden;*/
      z-index: 3;
      border-radius: 7px;
      font-family: 'Handwritten';
      font-weight: bold;
      text-align: center;
      border-top: 2px dotted snow;
}
#transcript button {
      background-color: rgb(169, 204, 218);
      width: 60px; height: 30px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: left;
}
#transcript button:hover {
      background-color: rgb(139, 169, 180);
      cursor: pointer;
}

#shutter {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      top: 0;
      transition: top 3s ease-out;
      z-index: 2;
      user-select: none;
      -moz-user-select: none; /* felt cute, might remove later */
}

#stampPopup {
      z-index: 3;
      visibility: hidden;
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      bottom: 35%;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      width: 40%;
      height: 40%;
}
#stampPopup #popupb0 {
      background-color: rgba(0, 0, 0, 0.75);
      width: 60px; height: 30px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: left;
      color: white;
}
#stampPopup #popupb1 {
      background-color: green;
      width: 100%; height: 30%;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: left;
      color: white;
      font-weight: bold;
      font-size: 40px;
}
#stampPopup #popupb2 {
      background-color: red;
      width: 100%; height: 30%;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: left;
      color: white;
      font-weight: bold;
      font-size: 40px;
}
#stampPopup #popupb0:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
}
#stampPopup #popupb1:hover {
      cursor: pointer;
      background-color: rgb(0, 97, 0);
}
#stampPopup #popupb2:hover {
      cursor: pointer;
      background-color: rgb(138, 0, 0);
}
#citation {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      width: 30%;
      height: 50%;
      background-color: rgb(161, 99, 161);
      background-repeat: repeat-y;
      background-size: 100% 4%;
      bottom: -60%;
      transition: bottom 500ms ease-out;
      visibility: visible;/*hidden;*/
      z-index: 4;
      border-top: 2px dotted snow;
      border-bottom: 2px dotted snow;
      font-family: monospace;
      font-weight: bold;
      text-align: center;
}
#citation button {
      background-color: rgb(145, 88, 145);
      width: 60px; height: 30px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: left;
}
#citation button:hover {
      background-color: rgb(117, 73, 117);;
}
#dialog-box {
      z-index: 5;
      visibility: hidden;
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      bottom: 3%;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      width: 70%;
      height: 30%;
      /*padding: 10px;*/
      font-family: Calibri;
}
#dialog-box button {
      background-color: rgba(0, 0, 0, 0.75);
      /*width: 60px;*/ height: 50px;
      font-size: 35px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      color: white;
      position: absolute;
      bottom: 0;
      right: 0;
}
#dialog-box button:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
}
#dialog-actor, #dialog-words {
      padding: 5px;
}
#dialog-words {
      font-style: italic;
      font-size: 20px;
}

#passport {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      bottom: 5%;
      width: 40%;
      height: 60%;
      background-color: rgb(53, 25, 5);
      border-radius: 10px;
      z-index: 6;
      visibility: hidden;
      font-family: Cambria;
}
#passimgs {
      float: left;
      height: 100%;
      width: 30%;
      border-right: 3px dashed rgb(196, 226, 255);
}
#passinfs {
      float: right;
      height: 100%;
      width: 65%;
      border-left: 2px dashed rgb(196, 226, 255);
}
#passimgs img {
      width: 100%;
      user-select: none;
}
#pass2 {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      width: 98%;
      height: 98%;
      top: 1%;
      background-color: aliceblue;
      border-radius: 5px;
}
#passport button {
      background-color: aliceblue;
      width: 60px; height: 30px;
      border-radius: 3px;
      border: 1px solid black;
      font-family: Calibri;
      float: right;
}
#passport button:hover {
      cursor: pointer;
      background-color: rgb(183, 197, 211)
}

#passport-opener {
      z-index: 5;
      visibility: hidden;
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      bottom: 3%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      width: 20%;
      font-size: 30px;
      height: 8%;
      /*padding: 10px;*/
      font-family: Calibri;
      cursor: pointer;
}

#entrypass {
      text-align: center;
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      top: 5%;
      width: 35%;
      height: 25%;
      background-color: rgb(240, 186, 147);
      border-radius: 10px;
      z-index: 6;
      visibility: hidden;
      font-family: Cambria;
}
#citizenid {
      text-align: right;
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      top: 5%;
      width: 30%;
      height: 25%;
      background-color: rgb(86, 177, 169);
      border-radius: 10px;
      z-index: 6;
      visibility: hidden;
      font-family: Cambria;
      color: white;
}
#citizenid img {
      position: absolute;
      height: 100%;
      left: 1%;
      top: 0;
}

#gameSummary {
      background-color: black;
      position: absolute;
      top: 0; left: 0;
      height: 100%; width: 100%;
      color: white;
      font-family: Cambria;
      visibility: hidden;
      opacity: 0;
      transition: opacity 2s ease-in-out;
      z-index: 4;
}
#gameSummary table {
      border: 2px solid whitesmoke;
      font-size: 30px;
      margin: 0 auto;
}
#gameSummary a {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      bottom: 3%;
      height: 5%;
      width: 20%;
}
#gameSummary button {
      position: absolute;
      left: 0; right: 0; margin-inline: auto;
      height: 100%;
      width: 100%;
      font-size: 30px;
      background-color: black;
      border: 3px solid white;
      color: white;
}
#gameSummary button:hover {
      background-color: rgb(56, 56, 56);
      cursor: pointer;
}

#savecheck1 {
      pointer-events: none;
      position: absolute;
      visibility: hidden;
}